fatlib
*.lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.[oa]
*~
*.#

# Archivos gitignore para Node JS
node_modules
dist

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode

# Evito subir esquema de arquitectura
arquitectura.drawio
arquitectura.png